body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.one {
    background-color: #1F2937;
    padding: 10px 300px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
    font-weight: bold;
}

.links, .headertext {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.leftheader {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.headermain {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.headertext {
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.rightheader {
    background-color: rgba(227, 227, 227, 0.41);
    color: white;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 8px;
}
.button.header {
    align-self: flex-start;
    border-style: none;

}
.two {
    display: flex;
    flex-direction: column;
    padding: 30px 500px 100px;   
}

.twotitle {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 50px;
}

.square {
    width: 120px;
    height: 120px; 
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    margin: auto;
}

.twocontainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.three {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB; 
    padding: 100px 500px;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
}
.author {
    display:flex;
    justify-content: flex-end;
    font-weight: bold;
    font-style: none;
    font-size: 24px;
}
.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 300px;
}

.containerfour {
    display: flex;
    flex: 1;
    background-color:#3882F6;
    color: white;
    border-radius: 6px;
    justify-content: space-between;
    padding: 50px 100px;
}

.button.signup {
    border-color: white;
    border-style: solid;
}

.headerfour {
    font-weight: bold;
    font-size: 22px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 40px;
}