body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.one {
    background-color: #1F2937;
    padding: 10px 250px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
    font-weight: bold;
}

.links, .headertext {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.leftheader {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.headermain {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.headertext {
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.rightheader {
    background-color: rgba(227, 227, 227, 0.41);
    color: white;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
}


button {
    background-color: #3882F6;
    color: white;
    align-self: flex-start;
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
}

.two {
    display: flex;
    padding: 100px;
}

img {
    width: 100px;
}
.container {
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.three {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 100px;
}